// colors
$primary: #00d7ff;
$footer-background: #231f20;
$footer-color: #ffffff;
// sizes
$full-width: 100%;

// fonts
$normal-bold: normal normal bold;
$normal: normal normal normal;
$georgia: Georgia;
$arial: Arial;
